{{ define "main" }}
<div class="contenitore pagina">
  {{ partial "briciole.html" . }}
  {{ if .Params.bozza_contenuti }}
  <p class="avviso-bozza">Pagina in bozza: testi da completare e validare con la cooperativa.</p>
  {{ end }}
  <h1 data-split="words">{{ .Title }}</h1>
  {{ with .Params.immagine }}
  <div class="pagina-immagine foto-zoom" data-anim="zoom">{{ partial "immagine.html" (dict "percorso" . "alt" "" "larghezza" 1100 "skeleton" true) }}</div>
  {{ end }}
  <div class="prosa" data-anim="fade-up">{{ .Content }}</div>
  {{ if .CurrentSection }}{{ if eq .CurrentSection.Title "Servizi" }}
  <p class="rimando" data-anim="fade-up"><a class="bottone" href="{{ "preventivo/" | relURL }}">Richiedi un preventivo per questo servizio</a></p>
  {{ end }}{{ end }}
</div>
{{ end }}
